.appWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(240, 242, 245);
}

.mainWrapper {
  display: flex;
  height: 100%;
}

.bodyWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.tableWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
}

.tableOffset {
  height: 100%;
}
