.sidebar {
  padding: 1rem;
}

.sidebarWrapper {
  height: 100%;
  width: 220px;
  border-radius: 0.75rem;
}

.sidebarLogo {
  height: 60px;

  &__img {
    height: 100%;
    padding: 0.2rem 0 0.2rem 6px;
  }
}

.sidebarTitle {
  padding: 16px 24px;

  &__text {
    color: #fff;
  }
}

.sidebarLink {
  &__button {
    padding-left: 32px;
    padding-right: 32px;
    color: white !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__icon {
    color: white !important;
    font-size: 0.875rem;
    min-width: 45px !important;

    & svg {
      font-size: 1.4rem;
    }
  }
}

.divider {
  border-bottom: none !important;
  background: transparent;
  height: 0.0625rem;
  opacity: 0.25;
  border-top: 0px solid rgba(0, 0, 0, 0.08) !important;
  border-right: 0px solid rgba(0, 0, 0, 0.08) !important;
  border-left: 0px solid rgba(0, 0, 0, 0.08) !important;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}
